<div class="form-container">
  <h2><span style="color: #7752fe">Personal</span> details</h2>
  <div>
    <label for="full-name">Full Name</label>
    <input type="text" id="full-name" [(ngModel)]="name"  />
    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="email"  />

    <label for="mobile">Contact no.</label>
    <input type="text" id="mobile" [(ngModel)]="contactNo"  />

    <p>
      By proceeding, you agree to the
      <a href="javascript:void(0)">Terms & Conditions</a>
    </p>
  </div>
</div>
