<app-customer-navbar></app-customer-navbar>
<div class="container">
  <div class="left-section">
    <h2><span style="color: #7752fe">Expired</span> policies</h2>

    <div *ngIf="policies.length==0">
      <div class="length-card no-expired-policy">
        <div class="length-card-content">
          <h2>No Expired Policies</h2>
          <p>
            It looks like all your policies are active. Keep up the good work!
          </p>
        </div>
      </div>
    </div>

    <div class="policy-card" *ngFor="let p of policies">
      <div class="policy-info">
        <img src="images/expired-policy.png" alt="Policy Image" />
        <div>
          <h3>{{ p.manufacturerName + " " + p.modelName }}</h3>
          <p>{{ p.policyType }} insurance</p>
        </div>
      </div>
      <div class="policy-actions">
        <button (click)="onView(p.policyId)">View</button>
        <button (click)="onRenew(p.policyId)">Renew</button>
      </div>
    </div>
  </div>

  <div class="right-section">
    <div class="features col-5">
      <div class="feature-card">
        <h3>🔄 Easy Renewal</h3>
        <p>Renew your policy instantly with just a few clicks, hassle-free.</p>
      </div>
      <div class="feature-card">
        <h3>💸 Save on Renewals</h3>
        <p>
          Get exclusive discounts and offers when you renew your policy with us.
        </p>
      </div>
      <div class="feature-card below">
        <h3>⏱️ No Waiting Period</h3>
        <p>Enjoy uninterrupted coverage with our quick renewal process.</p>
      </div>
      <div class="feature-card below">
        <h3>📜 Flexible Options</h3>
        <p>
          Choose flexible renewal plans that fit your current needs and budget.
        </p>
      </div>
    </div>
  </div>
</div>
