<div class="area">
    <ul class="circles"> 
      <div class="background">
        <div class="profile-container">
          <h2>Policy Details</h2>
          <div class="profile-card">
            <div class="profile-row">
              <label for="name">Buying date:</label>
              <span>{{ buyingDate }}</span>
            </div>
  
            <div class="profile-row">
              <label for="email">Policy request status:</label>
              <span>{{ policyRequestStatus }}</span>
            </div>
  
            <div class="profile-row">
              <label for="contact">Policy type:</label>
              <span>{{ policyType }}</span>
            </div>
  
            <div class="profile-row">
              <label for="streetDetails">Coverage amount:</label>
              <span>₹{{ coverageAmount }}</span>
            </div>
  
            <div class="profile-row">
              <label for="city">Premium amount:</label>
              <span>₹{{ premiumAmount }}</span>
            </div>
  
            <div class="profile-row">
              <label for="state">Term length:</label>
              <span>{{ termLength }} months</span>
            </div>
  
            <div class="profile-row">
              <label for="country">Policy status:</label>
              <span>{{ policyStatus }}</span>
            </div>
  
            <div class="profile-row">
              <label for="country">Vehicle type:</label>
              <span>{{ vehicleType }}</span>
            </div>
  
            <div class="profile-row">
              <label for="country">Vehicle name:</label>
              <span>{{ vehicleName }}</span>
            </div>
  
            <div class="profile-row">
              <label for="country">Base price:</label>
              <span>₹{{ basePrice }}</span>
            </div>
  
            <div class="profile-row">
              <label for="country">Registration no:</label>
              <span>{{ registrationNo }}</span>
            </div>
  
            <div class="edit-button-container">
              <button class="edit-button" routerLink="/my-policies">
                Back
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  