<div class="form-container">
  <h2>Vehicle details</h2>
  <div>
    <label for="full-name">Vehicle name</label>
    <input type="text" id="full-name" [(ngModel)]="vehicleName" disabled />
    <label for="mobile">Registration number</label>
    <input type="text" id="mobile" [(ngModel)]="registrationNo" disabled />
    <label for="mobile">Registration year</label>
    <input type="text" id="mobile" [(ngModel)]="registrationYear" disabled />
    <label for="mobile">Vehicle price (₹)</label>
    <input type="text" id="mobile" [(ngModel)]="vehiclePrice" disabled />

    <p>
      By proceeding, you agree to the
      <a href="javascript:void(0)">Terms & Conditions</a>
    </p>
  </div>
</div>
