* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f7fc;
}

.container {
  display: flex;
  padding: 20px;
}
 
.sidebar {
  width: 20%;
  margin-right: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  font-size: 18px;
  color: #999;
  padding: 10px 0;
}

.sidebar .completed {
  color: #4caf50;
}

.sidebar .active {
  color: #000;
  font-weight: bold;
  position: relative;
}

.sidebar .active::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 100%;
  background-color: #4caf50;
}

.form-container {
  width: 70%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 10rem;
  margin-top: 3rem;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input::placeholder {
  color: #aaa;
}

a {
  color: #6847da;
  text-decoration: none;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-footer p {
  font-size: 18px;
  color: #333;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-button {
  background-color: #ccc;
  color: #fff;
}

.back-button:hover {
  background-color: #bbb;
}

.continue-button {
  background-color: #4caf50;
  color: #fff;
}

.continue-button:hover {
  background-color: #45a049;
}

.main-form {
  height: 20rem;
}
