<div class="form-container">
    <h2>Checkout</h2>
    <div>
        <div class="form-group">
            <label for="full-name">Full Name</label>
            <input type="text" class="main-input" id="full-name" disabled />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="main-input" id="email" disabled />
        </div>

        <div class="form-group">
            <label for="vehicle-name">Vehicle name</label>
            <input type="text" class="main-input" id="vehicle-name" [(ngModel)]="vehicleName"  disabled />
        </div>

        <div class="form-group">
            <label for="registration-number">Registration number</label>
            <input type="text" class="main-input" [(ngModel)]="registrationNo" id="registration-number" disabled />
        </div>

        <div class="form-group">
            <label for="policy-type">Policy Type</label>
            <input type="text" class="main-input" id="policy-type" [(ngModel)]="policyType" disabled />
        </div>

        <div class="form-group">
            <label for="coverage-amount">Coverage amount</label>
            <input type="text" class="main-input" id="coverage-amount" [(ngModel)]="coverageAmount"disabled />
        </div>

        <div class="form-group">
            <label for="premium-amount">Premium amount</label>
            <input type="text" class="main-input" id="premium-amount" [(ngModel)]="premiumAmount" disabled />
        </div>

        <div class="form-group">
            <label for="term-length">Term length</label>
            <input type="text" class="main-input" id="term-length" [(ngModel)]="termLength" disabled />
        </div>

        <p>
            By proceeding, you agree to the
            <a href="javascript:void(0)">Terms & Conditions</a>
        </p>
        <button type="submit" class="continue-button" onclick="navigateNext()">
            Buy Policy
        </button>
    </div>
</div>
