<app-customer-navbar></app-customer-navbar>
<section class="autoshield-section">
  <div class="autoshield-content">
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div class="description">
            <h2>
              Manage Your<br />
              Policy <span class="highlight">Issues</span>
            </h2>
            <p>
              Easily report any issues related to your policy or track the
              status<br> of your existing reports.
            </p>
          </div>
        </div>
        <div class="row card-container">
          <div class="card track">
            <button class="btn" routerLink="/complain">
              <a routerLink="/complain">
                <img src="images/file-complain.png" alt="Bike" />
                <span>Report an issue</span>
              </a>
            </button>
          </div>
          <div class="card track">
            <button class="btn" (click)="onClick('Bike')">
              <a routerLink="/all-complains">
                <img src="images/track-complain.png" alt="Bike" />
                <span>Track previous issues</span>
              </a>
            </button>
          </div>
        </div>
      </div>
      <div class="features col-5">
        <div class="feature-card">
          <h3>⚡ Fast Response</h3>
          <p>
            Receive quick feedback on your complaints and issues with our 24/7
            support system.
          </p>
        </div>
        <div class="feature-card">
          <h3>🔧 Expert Assistance</h3>
          <p>
            Our dedicated team of professionals will guide you through resolving
            any issue.
          </p>
        </div>
        <div class="feature-card">
          <h3>📈 Transparent Tracking</h3>
          <p>
            Track the status of your complaint in real-time with our easy-to-use
            system.
          </p>
        </div>
        <div class="feature-card">
          <h3>🤝 Guaranteed Resolution</h3>
          <p>
            We ensure every issue is addressed promptly with clear solutions
            provided.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
