<div class="area">
  <ul class="circles">
    <div class="container">
      <div class="left-section">
        <div class="row">
          <h2><span style="color: #190482">Active</span> policies</h2>

          <div *ngIf="activePolicies.length == 0">
            <div class="length-card no-expired-policy">
              <div class="length-card-content">
                <h2>No Policies Found</h2>
                <p>
                  You currently don't have any active policies. Please add a
                  policy to get started.
                </p>
              </div>
            </div>
          </div>

          <div class="policy-card" *ngFor="let p of activePolicies">
            <div class="policy-info">
              <img src="images/active-policy.png" alt="Policy Image" />
              <div>
                <h3>{{ p.manufacturerName + " " + p.modelName }}</h3>
                <p>{{ p.policyType }} insurance</p>
              </div>
            </div>
            <div class="policy-actions">
              <button (click)="onView(p.policyId)">View</button>
              <button>Download</button>
            </div>
          </div>
        </div>

        <div class="row row-2">
          <h2><span style="color: #190482">Expired</span> policies</h2>

          <div *ngIf="expiredPolicies.length == 0">
            <div class="length-card no-expired-policy">
              <div class="length-card-content">
                <h2>No Expired Policies</h2>
                <p>
                  It looks like all your policies are active. Keep up the good
                  work!
                </p>
              </div>
            </div>
          </div>

          <div class="policy-card" *ngFor="let p of expiredPolicies">
            <div class="policy-info">
              <img src="images/expired-policy.png" alt="Policy Image" />
              <div>
                <h3>{{ p.manufacturerName + " " + p.modelName }}</h3>
                <p>{{ p.policyType }} insurance</p>
              </div>
            </div>
            <div class="policy-actions">
              <button (click)="onView(p.policyId)">View</button>
              <button>Download</button>
            </div>
          </div>
        </div>
      </div>

      <div class="right-section">
        <div class="row chart-container">
          <div class="flex justify-content-center chart-item pie-chart">
            <p-chart type="pie" [data]="specializationData" [options]="pieOptions"></p-chart>
          </div>
        </div>
        <div class="row bar chart-container">
          <div class="flex justify-content-center chart-item bar-chart">
            <p-chart type="bar" [data]="aptData" [options]="barOptions"></p-chart>
          </div>
        </div>
      </div>
      
      
    </div>

    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
