<div class="background-blur">
    <div class="success-container">
        <div class="success-box">
            <i class="fas fa-check-circle success-icon"></i>
            <h1>Policy Purchased Successful</h1>
            <p>
                Congratulations 🎉 Your policy has been successfully purchased 🎊
            </p>
            <div class="button-container">
                <a class="btn dashboard-btn" routerLink="/customer">Go to Dashboard</a>
            </div>
        </div>
    </div>
</div>
