<app-navbar></app-navbar>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="hero-content">
          <h1>
            More Than<br />
            Just a Policy,<br />
            a <span style="color: #7752fe">Promise</span>
          </h1>
          <p>
            Experience the difference with our vehicle policy, designed to provide you with exceptional coverage and service.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="row">
          <app-vehicle-card></app-vehicle-card>
        </div>
        <div class="row">
          <app-policy-card></app-policy-card>
        </div>
      </div>
    </div>
  </div>
</section>
