<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
  </div>

  <div class="row row-2"> 
    <div class="col-8">
      <div class="hero">
        <div class="hero-content">
          <h1>
            Protecting What <span style="color: #7752fe">Drives</span> You
            Forward
          </h1>
          <p>
            Customized insurance plans to protect you on every journey, offering
            peace of mind with coverage tailored to your unique needs.
          </p>
          <button class="btn" id="btn-1" routerLink="/login">Sign in</button>
          <button class="btn" id="btn-2" routerLink="/signup">Sign up</button>
        </div>
      </div>
    </div>
    <div class="col-4 hero">
      <div class="hero-image">
        <img src="images/main-img.png" alt="main-photo" />
      </div>
    </div>
  </div>

  <div class="row">
    <app-second-page></app-second-page>
  </div>

  <div class="row">
    <app-third-page></app-third-page>
  </div>

  <div class="row">
    <app-fourth-section></app-fourth-section>
  </div>

  <div class="row">
    <app-fifth-section></app-fifth-section>
  </div>

  <div class="row">
    <app-footer-section></app-footer-section>
  </div>
</div>
