<footer class="footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer__col">
          <h3 class="footer__title">About Us</h3>
          <p>We are committed to providing the best automobile insurance to protect you and your vehicle with comprehensive and affordable coverage options.</p>
        </div>
        <div class="footer__col">
          <h3 class="footer__title">Customer Service</h3>
          <ul class="footer__list">
            <li><a href="#">Claims Center</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Coverage Options</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h3 class="footer__title">Contact Us</h3>
          <ul class="footer__contact">
            <li><img src="https://img.icons8.com/ios-glyphs/30/ffffff/phone.png" alt="Phone icon"> 1800-123-4567</li>
            <li><img src="https://img.icons8.com/ios-glyphs/30/ffffff/email.png" alt="Email icon"> <a href="mailto:support@autoshield.com">support&#64;autoshield.com</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h3 class="footer__title">Connect with Us</h3>
          <ul class="footer__social">
            <li><a href="#"><img src="https://img.icons8.com/ios-glyphs/30/ffffff/facebook.png" alt="Facebook"> Facebook</a></li>
            <li><a href="#"><img src="https://img.icons8.com/ios-glyphs/30/ffffff/twitter.png" alt="Twitter"> Twitter</a></li>
            <li><a href="#"><img src="https://img.icons8.com/ios-glyphs/30/ffffff/linkedin.png" alt="LinkedIn"> LinkedIn</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <p>© 2024 AutoShield Insurance. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  