<body>
  <section class="support-section">
    <div class="support-content">
      <h2>Have a question? <br>Here to help.</h2>
      <p>
        Our friendly customer support team is your extended family. Speak your
        heart out. They listen with undivided attention to resolve your
        concerns. Give us a call, request a callback, or drop us an email; we’re
        here to help.
      </p>
      <div class="contact-box">
        <div>
          <img
            src="https://img.icons8.com/ios-glyphs/30/000000/email.png"
            alt="Email icon"
          />
          <span
            >General Enquiries:
            <a href="mailto:care@autoshield.com">care&#64;autoshield.com</a></span
          >
        </div>
        <div>
          <img
            src="https://img.icons8.com/ios-glyphs/30/000000/phone.png"
            alt="Phone icon"
          />
          <span>Customer Sales Enquiries: 1800 - 208 - 8787</span>
        </div>
      </div>
    </div>
    <div class="support-image">
      <img
        src="images/fifth-section.png"
        alt="Support-illustration"
      />
    </div>
  </section>
</body>
