<div class="background-blur">
  <div class="logout-container">
    <div class="logout-box">
      <i class="fas fa-user-circle logout-icon"></i>
      <h1>You have been logged out</h1>
      <p>
        Thank you for visiting AutoShield. You have successfully logged out of
        your account.
      </p>
      <div class="button-container">
        <a href="index.html" class="btn home-btn">Go to Home Page</a>
        <a class="btn login-btn" routerLink="/login">Sign Back In</a>
      </div>
    </div>
  </div>
</div>
